<div class="div-outter-wrapper-header-main">
    <div class="div-top-dash-wrapper">
        <div class="div-inner-wrapper-header-main">
            <h1 class="h1-main-header">Cosmogram</h1>
        </div>
        <app-navbar></app-navbar>
    </div>
    
    <div class="div-body-main">
        <!-- <app-search-image-date></app-search-image-date> 
        
        ^^^^ SEARCH BY DATE ^^^^ -->

        <!-- <app-search-image-range></app-search-image-range>

        ^^^^ SEARCH BY RANGE ^^^^ -->

        <!-- <app-search-image-random></app-search-image-random>

        ^^^^ SEARCH BY RANDOM ^^^^ -->
    </div>
</div>
