<div class="div-outter-wrapper-header-main">
    <div class="div-top-dash-wrapper">
        <div class="div-inner-wrapper-header-main">
            <h1 class="h1-main-header">Cosmogram</h1>
        </div>
        <app-navbar (emitComponentName)="changeComponent($event)"></app-navbar>
    </div>

    <div [ngSwitch]="currentComponent" class="div-body-main">
        <button (click)="showImage()">clicky</button>
        <div *ngSwitchCase="'default'">
            <app-single-image [image]="img"></app-single-image>
        </div>
        <div *ngSwitchCase="'Search'">
            <app-search-image></app-search-image>
        </div>
        <div *ngSwitchCase="'Albums'">
            <app-multi-image></app-multi-image> <!-- [imageArray]="dashboardImageArray"-->
        </div>
        <div *ngSwitchCase="'Info'">
            <app-update-info></app-update-info>
        </div>
    </div>
</div>