<div *ngIf="show">

    <h3>Toolbar</h3>
    <ul>
        <li>
            <app-toolbox (tellToolBar)="selectToolbox($event)" [selectedToolbox]="selectedToolbox" [title]="'Account'" [toolbox]="accountToolbox"></app-toolbox>
        </li>
        <li>
            <app-toolbox [selectedToolbox]="selectedToolbox" [title]="'Search'" routerLink="" [toolbox]="searchToolbox"></app-toolbox>
        </li>
        <li>
            <app-toolbox [selectedToolbox]="selectedToolbox" [title]="'Albums'" routerLink="" [toolbox]="albumsToolbox"></app-toolbox>
        </li>
        <li>
            <app-toolbox [selectedToolbox]="selectedToolbox" [title]="'Info'" routerLink="" [toolbox]="infoToolbox"></app-toolbox>
        </li>
    </ul>
</div>