<div *ngIf="show">

    <h3>Toolbar</h3>
    <ul>
        <li>
            <app-toolbox [selectedToolbox]="selectedToolBox" [title]="'Account'" routerLink="/updateInfo" [toolbox]="accountToolBox"></app-toolbox>
        </li>
        <li>
            <app-toolbox [selectedToolbox]="selectedToolBox" [title]="'Search'" routerLink="" [toolbox]="searchToolBox"></app-toolbox>
        </li>
        <li>
            <app-toolbox [selectedToolbox]="selectedToolBox" [title]="'Albums'" routerLink="" [toolbox]="albumsToolBox"></app-toolbox>
        </li>
        <li>
            <app-toolbox [selectedToolbox]="selectedToolBox" [title]="'Info'" routerLink="" [toolbox]="infoToolBox"></app-toolbox>
        </li>
    </ul>
</div>